#tagline_div_4{
  width: 100%;
}

#tagline_4{
  margin: 0px auto;
  font-family: 'lobster';
  font-size: 1.5em;
  width: 70%;
  border-bottom: 1px solid #a1bbd0;
}


.aboutparagraph {
  margin-left: 15%;
  margin-right:15%;
  font-size:1.3em;
}

#aboutuspic {
  margin-left: 30%;
  margin-top:2%;
  margin-bottom:2%;
  border-radius: 8px;
}

p {
  font-size: 18px;
}

@media screen and (max-width: 900px) {

  .aboutparagraph {
    margin-left: 10%;
    margin-right:10%;
  }

  #aboutuspic {
    margin-top: 5%;
    margin-left:11%;
    width:80%;
  }


}
