#tagline{
  font-family: "lobster";
}

#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0px auto;
  width: 70%;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

p {
  margin: 0;
  padding: 0;
}

.column {

}

.sub-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: solid 0.5px #f4e7d7;
}

.sub-div-img {
  width: 40%;
}

.sub-div img {
  width: 90%;
  border-radius: 8px;
}

.sub-div-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

#column-div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
}

#sub-div2 {

}

#sub-div3 {

}

@media screen and (max-width: 700px) {
  #flex-container {
    width:80%;
  }

  #flex-container p {
    font-size: 18px;
  }

  .sub-div {
    flex-direction: column;
    margin-left: 2%;
  }

  .sub-div-img {
    width: 108%;
    margin: 0 auto;
    margin-bottom: 20px;
  }




  .sub-div-description {
    width: 100%;
  }
}
