#tagline_div{
  width: 100%;
}

#tagline{
  margin: 0px auto;
  font-family: lobster, cursive;
  font-size: 1.5em;
  width: 70%;
  border-bottom: 0.5px solid #a1bbd0;
}

#main_div{
  width: 100%;
}

#main_box{
  width: 70%;
  margin: auto;
}

#main_text{
  width: 20%;
  margin:
  /*border: 1px solid red;*/
}

#main_text p{
  margin-top: 4px;
  margin-bottom: 4px;
}

#map{
  width: 70%;
  height: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}
