#tagline{
  font-family: "lobster";
}

#main_box{
  width: 70%;
  margin: auto;
  border-bottom: 0.5px solid #a1bbd0;
}

#main_box img{
  width: 100%;
  margin: auto
}

#main_text{
  /*width: 70%;*/
  margin: auto;
  /*border: 1px solid red;*/
}

form {
  margin: 0px;
  width: 630px;
  padding: 10px;
  /*border: 1px solid #CCC;*/
  /*border-radius: 1em;*/
  /*border: 1px red solid;*/
}

form div + div {
  margin-top: 5px;;
}

label {
  display: inline-block;
  width: 230px;
  text-align: right;
  /*border: 1px red solid;*/
  /*float: left;*/
}

.button{
  text-align: center;
  /*padding-left: 23%;*/
  /*float: left;*/
}

#checkbox_label{
  float: left;
  /*border: 1px red solid;*/
}

#checkbox_options{
  /*padding-left: 220px;*/
  float: left;
  /*border: 1px black solid;*/
  margin-left: 0px;
  padding: 5px;
}

#form_div{
  width: 600px;
  margin: auto;
  border-bottom: 0.5px solid #a1bbd0;
  /*border: 1px blue solid;*/
}

#checkbox{
  /*width: 50%;*/
  height: 210px;
  /*border: 1px red solid;*/
}

.error {
  display: inline-block;
  background-color: white;
  color: red;
  padding: 1px;
  font-weight: bold;
}

.hidden {
  display: none;
}

#resumeupload{
  width: 175px;
}
