#main_box{
  width: 70%;
  margin: auto;
  border-bottom: 0.5px solid #a1bbd0;
}

#main_box p {
  font-size:18px;
}

#main_box img{
  width: 100%;
  margin: auto
}

#main_text{
  margin: auto;
}

form {
  font-size:18px;
  margin: 0px;
  width: 630px;
  padding: 10px;
}

form textarea {
  width:70%;
}

form div + div {
  margin-top: 5px;;
}

.button{
  margin-top: 10%;
  margin-bottom: 5%;
}

#checkbox_options{
  float: left;
  margin-left: 0px;
  padding: 5px;
}

#form_div{
  width: 600px;
  margin-left: 2%;
}

#checkbox{
  height: 210px;
}

.error {
  display: inline-block;
  background-color: white;
  color: red;
  padding: 1px;
  font-weight: bold;
}

.hidden {
  display: none;
}

#resumeupload{
  width: 175px;
}

.question{
  margin-bottom: 3%;
}

@media screen and (max-width: 700px) {

  #main_box p{
      font-size: 18px;
  }


  #main_box{
    width:85%;
  }

  #form_div{
    width:100%;
  }

  #employmentForm{
    width:100%;
  }

  .button{
    margin-top: 22%;
  }

  .question{
    margin-bottom: 7%;
  }

}
