/* Begin events styling */
#tagline{
  font-family: "lobster", cursive;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0px auto;
  width: 70%;
}

.sub-div {
  font-style: normal;
  border-bottom: 8px solid #f4e7d7;
  width: 100%;
}

.date-and-time-info{
  margin-bottom: 30px;
}

.date{
  font-size: 140%;
}

.time{
  font-size: 125%;
  color: dimgray;
}

.events-title{
  font-size: 140%;
}

#note{
  width: 70%;
  border: 0.8px solid #3F4234;
  border-radius: 8px;
  margin: 20px auto;
  padding: 0px 20px 0px 5px;
  color: #3F4234;
  transition: all .5s ease;
  background: repeating-linear-gradient(
    115deg,
    #ffc2b3,
    #ffc2b3 8px,
    #ffffff 8px,
    #ffffff 20px
  );
}

#note p{
  font-size: 100%;
  margin-left: 15px;
  color: #3F4234;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  /*opacity: .5;*/
}

#note:hover{
  transform: scale(1.2);
}


h2{
  color: #3F4234;
  margin-bottom: 30px;
  font-size: 180%;
}


#btn{
  font-size: 80%;
  color: white;
  background-color: #ffc173;
  float: right;
  border-radius: 18px;
  padding: 5px 10px 5px 14px;
  letter-spacing: 3px;
  /*opacity: 0.9;*/
}

#arrow{
  padding: 0px 0px 0px 8px;
}

#btn:hover #arrow{
  /*color: #FFD700;*/
  color: green;
}

#btn a{
  text-decoration: none;
  color: inherit;
}

iframe {
  width: 100%;
  height: 500px;
}

#past-events-title{
  width: 100%;
  margin-top: 30px;
  border-bottom: 8px solid #f4e7d7;
  cursor: pointer;
}

#past-events-container{
  display:none;
}

.rt{
  display: none;
}

/*@media screen and (max-width: 700px) {
  iframe {
    visibility: hidden;
  }
}*/
