/* Begin find-our-beers styling*/
#tagline_div_2{
  width: 100%;
}

#tagline_2{
  margin: 0px auto;
  font-family: lobster, cursive;
  font-size: 1.5em;
  width: 70%;
  border-bottom: 0.5px solid #a1bbd0;
}

#main_flex_wrapper_2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  margin: 0px auto;
  margin-top: 50px;
}

.sub_flex_wrapper_2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  margin-bottom: 55px;
}

.sub_flex_wrapper_2 ul{
  list-style-type: none;
  padding: 0px 0px 20px 0px;
}

#hours{
  font-style: italic;

}

.market_img{
  margin: 0px 30px 0px 0px;
}

.market_img img{
  width: 450px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.market_description h2{
  margin: 0px;
}

/* Handle responsive CSS here */
@media screen and (max-width: 700px) {

  .sub_flex_wrapper_2{
    flex-direction: column;
  }
