#tagline{
  font-family: "lobster";
}

/*#tagline_div_5{
  width: 100%;
}

#tagline_5{
  margin: 0px auto;
  font-family: 'lobster';
  font-size: 1.5em;
  width: 70%;
  border-bottom: 0.5px solid #a1bbd0;
}*/

a{
  text-decoration: none;
}

a:hover{
  color: inherit;
}

#merchandise-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 70%;
}

.item-div{
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
}

.item-img-div{
  border: solid 1px #1E1E1E;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 300px;
  transition: all .3s ease;
  cursor: pointer;
}

.item-img-div:hover .buy_btn{
  display: inline;
}

.buy_btn{
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 4px;
  color: white;
  background-color: red;
  padding: 15px 70px 15px 70px;
  line-height: 16em;
  cursor: pointer;
  display: none;
  /*border: 1px solid firebrick;*/
}

.buy_btn:hover{
  background-color: firebrick;
}

#item-1{
  background-image: url("../images/Shop_Images/tshirt_black.JPG");
}

#item-1:hover{
  background-image: url("../images/Shop_Images/tshirt_black_dark.JPG");
  transition: .2s ease;
}

#item-2{
  background-image: url("../images/Shop_Images/tshirt_brown.JPG");
}

#item-2:hover{
  background-image: url("../images/Shop_Images/tshirt_brown_dark.JPG");
}

#item-3{
  background-image: url("../images/Shop_Images/hoodie.JPG");
}

#item-3:hover{
  background-image: url("../images/Shop_Images/hoodie_dark.JPG");
}

#item-4{
  background-image: url("../images/Shop_Images/mugs.JPG");
}

#item-4:hover{
  background-image: url("../images/Shop_Images/mugs_dark.JPG");
}

#item-5{
  background-image: url("../images/Shop_Images/coaster.JPG");
}

#item-5:hover{
  background-image: url("../images/Shop_Images/coaster_dark.JPG");
}

#item-6{
  background-image: url("../images/Shop_Images/giftbasket.JPG");
}

#item-6:hover{
  background-image: url("../images/Shop_Images/giftbasket_dark.JPG");
}

.item-name{
  font-size: 130%;
  padding-top: 10px;
}

.item-price{
  font-size: 120%;
  color: gray;
}

@media screen and (max-width: 700px) {

  #tagline{
    width: 85%;
  }

  #merchandise-div{
    width: 90%;
  }

  .item-div{
    width:100%;
    padding: 10px;
  }

}
