#tagline_div_5{
  width: 100%;
}

#tagline_5{
  margin: 0px auto;
  font-family: 'cabin-condensed';
  font-size: 1.5em;
  width: 70%;
  border-bottom: 0.5px solid #a1bbd0;
}

#storeflex-wrapper{
  display:flex;
  flex-direction:column;
}

#storeflex-wrapper div {
  text-align: center;
  margin-left: 17%;
  margin-right:17%;
  border-bottom: 0.5px solid #a1bbd0;
}

#storeflex-wrapper img{
  width:40%;
  border-radius:8px;
}

.bold {
  font-size:30px;
}

#storeflex-wrapper .price {
  font-size:18px;
  margin-top:2%;
  margin-bottom: 0%;
}

.buybutton {
  font-size:20px;
  text-decoration: underline;
  text-align: center;
  background-color: #87CEFA;
  display: inline-block;
  padding:8px;
  border-radius:5px;
  border:2px solid #3396FF;
}



@media screen and (max-width: 700px) {
  #storeflex-wrapper img{
    width:100%;
  }
}
