<?xml version="1.0" encoding="UTF-8"?>
<tasting-room-hours>
   <tasting-room-event-1>
    <date>December 3</date>
    <time>6:30</time>
   </tasting-room-event-1>
   <tasting-room-event-2>
    <date>December 5</date>
    <time>6:30</time>
   </tasting-room-event-2>
   <tasting-room-event-3>
    <date>December 1</date>
    <time>8:30</time>
   </tasting-room-event-3>
 </tasting-room-hours>
