<?xml version="1.0" encoding="UTF-8"?>
<tasting-room-hours>
  <tasting-room-event-1>
    <date>November 20</date>
    <time>5:30</time>
  </tasting-room-event-1>
  <tasting-room-event-2>
    <date></date>
    <time></time>
  </tasting-room-event-2>
  <tasting-room-event-3>
    <date></date>
    <time></time>
  </tasting-room-event-3>
</tasting-room-hours>
